*{
  margin: 0;
  padding: 0;
}
.parent{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.btn{
  height: 70px;
  width: 70px;
}

.btn-red{
  background-color: red;
}
.btn-blue{
  background-color: blue;
}
.btn-green{
  background-color: green;
}