*{
    margin: 0;
    padding: 0;
}
.nav{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: yellow;
}

.navList{
    display: flex;
}

.navList li{
    margin-right: 20px;
    list-style-type: none;
    text-decoration: none;
}